@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

:root {
    --bg-color: #FCF8FF;
    --main-bg-color: #1400FF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

header {
    background: var(--main-bg-color);
}

nav {
    display: flex;
    align-items: center;
    height: 73px;
}

.logo {
    width: 220px;
    margin-left: 15px;
    cursor: pointer;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.logo:hover {
    border-radius: 7px;
}

.logo img,
.logo h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 7px;
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: 'Signika Negative';
}

.mainMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    left: 25px;
}

.item {
    padding: 15px;
}

.item a {
    font-family: 'Signika Negative';
    text-decoration: none;
    font-size: 22px;
    color: white;
    padding: 5px;
}

.item a:hover {
    border-radius: 4px;
    color: #F0A6FF;
    background-color: #0066FF;
}

.openMenu,
.closeMenu {
    display: none;
}

.fa-user {
    display: none !important;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    left: 85px;
}

.search-container input {
    height: 40px;
    padding: 0 12px;
    border-radius: 7px 0 0 7px;
    font-size: 21px;
    border: 2px solid black;
    font-family: monospace;
}

input[type="text"] {
    width: 225px;
}

.search-container input:focus {
    outline: none;
}

.search-container button {
    height: 43px;
    margin-left: -2px;
    font-size: 21px;
    color: black;
    font-family: monospace;
    border-radius: 0 7px 7px 0;
    border: 2px solid black;
}

.btn {
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    background: var(--main-bg-color);
}

.search-container button:hover {
    background-color: #955BFF;
    border-color: 2px solid black;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-right: 22px;
}

.user button {
    border: 0px;
    padding: 5.5px;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    font-size: 21px;
    font-family: 'Playpen Sans';
}

.user button:hover {
    color: black;
    font-weight: bold;
    background-color: #B978FF;
}

.card {
    background-color: aliceblue;
    max-width: 90vw;
    margin: 25px auto;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.cards {
    display: flex;
    overflow: scroll;
}

.card h2 {
    margin: 15px;
    font-family: 'Playpen Sans';
    text-decoration: underline;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
    width: 250px;
    border-radius: 7px;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid black;
}

.card-item:hover {
    cursor: pointer;
    border-radius: 7px;
    border: 2px solid transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.card-item img {
    border-radius: 5px;
}

.lines {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.lines p {
    display: grid;
    align-items: center;
    height: 28px;
    width: 250px;
    font-size: 22px;
    text-align: center;
    border-radius: 5px;
    background-color: #AA00AC;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px;
    background-color: #0066FF;
}

.back p {
    padding: 7px;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    font-family: 'Signika Negative';
}