@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

:root {
    --bg-color: rgb(237, 229, 229);
    --main-bg-color: #1400ff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

header {
    background: var(--main-bg-color);
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
}

.logo {
    width: 238px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.logo:hover {
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    background-color: #3d2bff;
    cursor: pointer;
}

.logo img,
.logo h1 {
    height: 80px;
    border-radius: 7px;
    padding: 0 7px;
    font-family: 'Signika Negative';
    color: white;
    font-size: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.1s ease;
}

nav ul {
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li a {
    font-family: 'Skranji';
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-size: 22px;
    color: #ED9ED6;
}

.search {
    width: 370px;
    display: flex;
    align-items: center;
    position: relative;
    left: 240px;
}

.search input {
    height: 40px;
    border-radius: 7px 0 0 7px;
    padding: 0 12px;
    font-size: 21px;
    border: 2px solid black;
}

.search input:focus {
    width: 256px;
    outline: none;
    font-family: 'Skranji';
}

.search button {
    height: 43px;
    font-size: 21px;
    border-radius: 0 7px 7px 0;
    margin-left: -2px;
    border: 2px solid black;
    color: black;
    font-family: 'Signika Negative';
}

.btn {
    padding: 5px 10px;
    color: white;
    background: var(--main-bg-color);
    border-radius: 7px;
    cursor: pointer;
}

.search button:hover {
    background-color: #3d2bff;
    border-color: 2px solid black;
}

.user {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    position: relative;
    left: 270px;
}

.user button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    border: 0px;
    background-color: transparent;
    padding: 5px;
    color: white;
    font-family: 'Playpen Sans';
}

.user button:hover {
    color: black;
    font-weight: bold;
}

.card {
    background-color: white;
    max-width: 90vw;
    margin: 25px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}

.cards {
    display: flex;
    overflow: scroll;
}

.card h2 {
    margin: 15px;
    font-family: 'Playpen Sans';
    text-decoration: underline;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
    border: 2px solid black;
    width: 250px;
    border-radius: 7px;
    margin-bottom: 15px;
    position: relative;
}

.card-item:hover {
    border-radius: 7px;
    border: 2px solid transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.card-item img {
    border-radius: 5px;
}

.lines {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.lines p {
    height: 28px;
    width: 250px;
    font-size: 20px;
    text-align: center;
    background-color: #3d2bff;
    border-radius: 5px;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

.flex-all-center {
    height: 50px;
    display: flex;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background-color: #363062;
    font-family: 'Signika Negative';
}